<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/custom-header-layout :: layout(~{::header}, ~{::content}, '로그인')}">
<header></header>
<th:block th:fragment="content">
    <div class="content-scrollable login-container">
        <div class="logo-large" th:text="${appName}"></div>

        <div th:if="${error}" class="error-message" th:text="${error}"></div>

        <form action="/login" method="post">
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="이메일" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="비밀번호" required>
            </div>
            <button type="submit" class="btn-primary">로그인</button>
        </form>

        <div class="links">
            <a href="/signup">회원가입하기</a>
        </div>
    </div>
</th:block>